on: [push, pull_request]

name: Cubic
permissions:
  contents: read
  pull-requests: read

jobs:
  linux:
    name: Check Linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build image
        run: make build-image

      - name: Check
        run: make check

  macos:
    name: Check macOS
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Rust
        run: rustup toolchain install stable

      - name: Build Code
        run: cargo build

      - name: Test Code
        run: cargo test

      - name: Run Code
        run: cargo run --help
